
.main-container {
    max-width: 1440px;
    margin: 0 auto;
   
    justify-content: center;
}

*{
    box-sizing: border-box;
}


.announcement{
    margin-bottom: 32px;
    display: flex;
    justify-content: center;
    margin: 0;
    background-color: #E98580;
    margin-bottom: 2rem!important;
    
}

.announcement span{
    padding-top: 3.2rem;
    padding-bottom: 3.2rem;
    max-width: 60%;
    text-align: center;
    font-size: 19px;
    line-height: 1.75;
    font-weight: 500;
}

.left-right-section{
    display:flex;
    margin-bottom: 2rem!important;
}

.left-right-section .text{
    width: 50%;
    display: flex;
    color: #492F10;
    padding: 32px 48px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FDD2BF;
}

.left-right-section .image{
    width: 50%;
    display: flex;

}


.left-right-section .image img{
  width: 100%;
    
}

.text h1, .text p{
    margin: 0;
    font-weight: 400;

}

.text h1{
    margin-bottom: 24px;
    font-size: 30px;
    line-height: 1.5;
    font-weight: 600;
}

.text p{
    margin-bottom: 32px;
    font-size: 20px;
    font-weight: 800;
}

.text .cta{
    padding: 7px 16px;
    border: 1px solid;
    border-radius: 50px;
    color: #753422;
    font-weight: 600;
    cursor: pointer;
    transition: all .5s ease;
}

.text .cta:hover{
    background-color: #DF5E5E;
    color: blanchedalmond;
}

.second-section {
    display:flex;
    margin-bottom: 2rem!important;

}

.second-section .text{
    width: 50%;
    display: flex;
    color: #1B2021;
    padding: 32px 48px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #DF5E5E;
}

.second-section .image{
    width: 50%;
    display: flex;

}


.second-section .image img{
    width: 100%;
}

.second-section .text .cta:hover{
    background-color: #EF4F4F;
    color: blanchedalmond;
}

.second-section .text h1{
    font-weight: 700;
    line-height: 1.2;
    font-size: 50px;
    letter-spacing: 8px;
}

.second-section .text .cta{
    padding: 7px 16px;
    border: 1px solid;
    border-radius: 50px;
    color: #1B2021;
    font-weight: 600;
    cursor: pointer;
    transition: all .5s ease;
}

.second-section .text p{
    font-size: 24px;
    line-height: 1.5;
}

section{
    display: flex;
}

.top-bottom-section{
    width: 50%;
}

.section-container{
    display: flex;
    flex-direction: column;
}

.top-bottom-section .image{
    width: 1005;

}

.top-bottom-section .image img{
    width: 100%;
}

.top-bottom-section .text{
    display: flex;
    flex-direction: column;
}

.cta-container{
    display: flex;
    align-items: center;
    justify-content: center;

}

.top-bottom-section{
    display: flex;
    margin-bottom: 32px;
}

.top-bottom-section:first-child .section-container{
    margin-right: 16px;
    background-color: #FDD2BF;

}

.top-bottom-section:last-child .section-container{
    margin-left: 16px;
    background-color: #FDD2BF;

}

.top-bottom-section .text{
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 32px;
    padding-top: 16px;
}

.top-bottom-section .text h1{
    font-size: 24px;
    font-weight: 800;
    margin-bottom: 24px;
    text-align: center;
}

.top-bottom-section .text p{
    font-size: 16px;
    line-height: 1.75;
    text-align: center;
}


